@import "bootstrap";
@import "font-awesome";

.box {
  height: 75px;
  border: 1px solid black;
}

.box-black {
  background: brown;
}

.row{
  z-index: 0;
}

.piece{
  z-index: 1;
}

.board-area {
  margin-right:auto;
  margin-left:auto;
}
